<%- include("partials/newHeader2.ejs", {data: "Edit Profile"})%> <!-- This is the header fo the edit profile page -->

<div class="container box_containerCreate justify-content-center align-items-center"> <!-- This container will read the information that the user had submitted, fill out the form
with what they changed, and allow them to make changes and submit them to the database!-->
<div class="boxMessage">
<p class="title">Edit Your Profile</p>
    <% if(Users.Profile_Image === undefined) { %>
        <img src="/assets/icons/creat&viewProfilePages/profileIcon.png" class="ImageHere" alt="blank profile image">
    <% } else { %>
        <img src="<%= Users.Profile_Image %>" class="ImageHere" alt="This is the users profile image">
    <% } %>
        <form action="/editProfile" method="POST">
            <ul class="CreateView">
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/addImage.png" alt="">
                    <label for="User_Profile_Image">Profile Image: </label>
                    <input type="text" name="Profile_Image" id="User_Profile_Image" value="<%= Users.Profile_Image %>" placeholder="Enter a Image Address Here!">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/first&lastName.png" alt="Name_Icon">
                    <label for="User_First_Name"><span class="required">*</span> First Name: </label>
                    <input type="text" name="First_Name" id="User_First_Name" value="<%= Users.First_Name  %>" maxlength="20" placeholder="Max of 20 characters!" required>
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/first&lastName.png" alt="Name_Icon">
                    <label for="User_Last_Name"><span class="required">*</span> Last Name: </label>
                    <input type="text" name="Last_Name" id="User_Last_Name" value="<%= Users.Last_Name %>" maxlength="20" placeholder="Max of 20 characters!" required>
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/birthday.png" alt="">
                    <label for="Birthdate"><span class="required">*</span> Birthday: </label>
                    <input type="text" name="Birthday" id="Birthdate" value="<%= Users.Birthday %>" placeholder="YYYY-MM-DD Format Please" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/ageRange.png" alt="">
                    <label for="User_Age">Age: </label>
                    <input type="text" name="Age" id="User_Age" value="<%= Users.Age %>" placeholder="How old are you?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/gender.png" alt="">
                    <label for="User_Gender">Gender: </label>
                    <input type="text" name="Gender" id="User_Gender" value="<%= Users.Gender %>" placeholder="What's your preference?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/currentCity.png" alt="">
                    <label for="User_City">Current City: </label>
                    <input type="text" name="Current_City" id="User_City" value="<%= Users.Current_City %>" placeholder="Where do you live?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/hometown.png" alt="">
                    <label for="User_Hometown">Hometown: </label>
                    <input type="text" name="Hometown" id="User_Hometown" value="<%= Users.Hometown %>" placeholder="Where are you from?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/profession.png" alt="">
                    <label for="User_Profession">Profession: </label>
                    <input type="text" name="Profession" id="User_Profession" value="<%= Users.Profession %>" placeholder="What do you do?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/interests.png" alt="">
                    <label for="User_Interests">Interests: </label>
                    <input type="text" name="Interests" id="User_Interests" value="<%= Users.Interests %>" placeholder="What interests you?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/movie.png" alt="">
                    <label for="User_Favorite_Movie">Favorite Movie: </label>
                    <input type="text" name="Favorite_Movie" id="User_Favorite_Movie" value="<%= Users.Favorite_Movie %>" placeholder="What do you watch?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/artist.png" alt="">
                    <label for="User_Favorite_Artist">Favorite Artist: </label>
                    <input type="text" name="Favorite_Artist" id="User_Favorite_Artist" value="<%= Users.Favorite_Artist %>" placeholder="What do you listen to?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/food.png" alt="">
                    <label for="User_Favorite_Food">Favorite Food: </label>
                    <input type="text" name="Favorite_Food" id="User_Favorite_Food" value="<%= Users.Favorite_Food %>" placeholder="What do you like to eat?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/language.png" alt="">
                    <label for="User_Languages">Languages: </label>
                    <input type="text" name="Languages" id="User_Languages" value="<%= Users.Languages %>" placeholder="What do you speak?">
                </li>
                <li>
                    <img src="/assets/icons/creat&viewProfilePages/moreAboutYou.png" alt="">
                    <label for="User_Brief_Summary">Brief Summary: </label>
                    <input type="text" name="More_About_You" id="User_Brief_Summary" maxlength="500" value="<%= Users.More_About_You %>" placeholder="Describe yourself!">
                </li>
                </ul>
            <div class="button2"> <!-- This button will send the info in the form to our database!-->
                <p><span class="required">*</span> Required Field</p>
                <button class="btn2-style" type="submit">Submit</button>
<br>
<br>
<br>
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer.ejs") %> <!-- This code is going to change -->
