<%- include("partials/newHeader2.ejs", {data: "Favorite Movie"})%> <!-- This is the header for the movieInfoPage -->

    <% if (data) {%> <!-- if the data was successfully pulled here, use it to fill out the div with the name of the movie,
                          an image of the poster, as well as a description of the movie-->
        <div class="box_container">
          <h1 class="title"> <%= data.title %></h1>
          <% let image = data.poster_path
                      ? "https://image.tmdb.org/t/p/w200" + data.poster_path
                      : "/assets/image.jpeg"
          %>
          <img src="<%= image %>" alt="<%= data.title %>" class="movie_image">

          <p class="text_container"><%= data.overview %></p>

          <div class="button1">
            <form action="/viewProfilePage" method="get">
            <button class="btn1-style" type="submit">Back</button>
            <p class="small_text">View profile</p>
            </form>
          </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    <% } else { %> <!-- if the movie data was not pulled, supply a paragraph that says "Movie not found."-->
        <p>Movie not found.</p>
    <% } %>

<%- include("partials/footer.ejs") %> <!-- This is the footer for the movieInfoPage-->
