<%- include("partials/header2.ejs", {data: "Favorite Movie"})%>

    <% if (data) {%>
        <div class="box_container">
          <h1 class="title"> <%= data.title %></h1>
          <% let image = data.poster_path
                      ? "https://image.tmdb.org/t/p/w200" + data.poster_path
                      : "/assets/image.jpeg"
          %>
          <img src="<%= image %>" alt="<%= data.title %>" class="movie_image">

          <p class="text_container"><%= data.overview %></p>

          <div class="button1">
            <form action="/viewProfilePage" method="get">
            <button class="btn1-style" type="submit">Back</button>
            <p class="small_text">View profile</p>
            </form>
          </div>
            <br>
            <br>
            <br>
            <br>
        </div>
    <% } else { %>
        <p>Movie not found.</p>
    <% } %>

<%- include("partials/footer.ejs") %>
