<%- include("partials/newHeader2.ejs", {data: "View Profile"})%> <!-- This is the header for the viewProfilePage-->

<% for (let element of Users) { %> <!-- This is grabbing information passed to this route via a User, it then goes through
each part User and grabs information that is attached to certain key values and makes a profile contained inside a div,
it also has a button that fires a route that allows you to update your information-->
    <div class="box_containerCreate">
        <div>
        <p class="title">Profile</p>
        <img src="<%=element.Profile_Image%>" alt="" class="ImageHere">
        <ul class="ProfileView">
            <li>
                <img src="/assets/icons/creat&viewProfilePages/first&lastName.png" alt="">
                First Name: <%= element.First_Name %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/first&lastName.png" alt="">
                Last Name: <%= element.Last_Name %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/birthday.png" alt="">
                Birthday: <%= element.Birthday %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/ageRange.png" alt="">
                Age: <%= element.Age %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/gender.png" alt="">
                Gender: <%= element.Gender %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/currentCity.png" alt="">
                Current City: <%= element.Current_City %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/hometown.png" alt="">
                Hometown: <%= element.Hometown %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/profession.png" alt="">
                Profession: <%= element.Profession %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/interests.png" alt="">
                Interests: <%= element.Interests %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/movie.png" alt="">
                Favorite Movie: <a href="/movieInfoPage?titlesearch=<%= element.Favorite_Movie %>"> <%= element.Favorite_Movie %></a>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/artist.png" alt="">
                Favorite Artist: <%= element.Favorite_Artist %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/food.png" alt="">
                Favorite Food: <%= element.Favorite_Food %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/language.png" alt="">
                Languages: <%= element.Languages %>
            </li>
            <li>
                <img src="/assets/icons/creat&viewProfilePages/moreAboutYou.png" alt="">
                Brief Summary: <%= element.More_About_You %>
            </li>
        </ul>
    </div>

    <!-- button#1 code, this is the submit button that will take you to the editProfilePage -->
    <div class="button1">
        <form action="/createProfilePage" method="get">
        <button class="btn1-style"
        type="submit">Edit</button>
        </form>
    </div>

    <!-- button#2 code, allows you to go back to the home page -->
    <div class="button2">
        <form action="/homePage" method="get">
        <button class="btn2-style"
        type="submit">Finish</button>
    </form>

    <br>
    <br>
    </div>
    </div>

<% } %>

<br>
<br>
<br>
<br>

<%- include("partials/footer.ejs") %> <!-- This is the footer for this route-->
